src/main/resources/schema/dtd/schema.dtd

<!DOCTYPE d_loadosf [
        <!ELEMENT d_loadosf (d_msgheader|d_lcuz|d_lcdop|d_basta|d_maika|d_sapruga|d_molba|d_domakin|d_euroda|d_voit|d_images|d_fingers)*>
        <!ATTLIST d_loadosf
                version CDATA #REQUIRED
                xmlns:xsi CDATA #REQUIRED>
        <!ELEMENT d_msgheader (d_msgheader_row)*>
        <!ELEMENT d_msgheader_row (mh_kscreated|mh_regnom|mh_vfsrefno|mh_usera|mh_datvav)*>
        <!ELEMENT mh_kscreated (#PCDATA)>
        <!ELEMENT mh_regnom (#PCDATA)>
        <!ELEMENT mh_vfsrefno (#PCDATA)>
        <!ELEMENT mh_usera (#PCDATA)>
        <!ELEMENT mh_datvav (#PCDATA)>
        <!ELEMENT d_lcuz (d_lcuz_row)*>
        <!ELEMENT d_lcuz_row (vid_zp|nac_bel|nac_pasp|pasp_val|graj|famil|imena|dat_raj|pol|dat_izd)*>
        <!ELEMENT vid_zp (#PCDATA)>
        <!ELEMENT nac_bel (#PCDATA)>
        <!ELEMENT nac_pasp (#PCDATA)>
        <!ELEMENT pasp_val (#PCDATA)>
        <!ELEMENT graj (#PCDATA)>
        <!ELEMENT famil (#PCDATA)>
        <!ELEMENT imena (#PCDATA)>
        <!ELEMENT dat_raj (#PCDATA)>
        <!ELEMENT pol (#PCDATA)>
        <!ELEMENT dat_izd (#PCDATA)>
        <!ELEMENT d_lcdop (d_lcdop_row)*>
        <!ELEMENT d_lcdop_row (ld_mrjdarj|ld_mrjnm|ld_mrjgraj|ld_zenen|ld_jit_darj|ld_jit_nm|ld_jit_ul|ld_tel|ld_rabota|ld_profkod|ld_profesia|ld_sl_darj|ld_sl_nm|ld_sl_ul)*>
        <!ELEMENT ld_mrjdarj (#PCDATA)>
        <!ELEMENT ld_mrjnm (#PCDATA)>
        <!ELEMENT ld_mrjgraj (#PCDATA)>
        <!ELEMENT ld_zenen (#PCDATA)>
        <!ELEMENT ld_jit_darj (#PCDATA)>
        <!ELEMENT ld_jit_nm (#PCDATA)>
        <!ELEMENT ld_jit_ul (#PCDATA)>
        <!ELEMENT ld_tel (#PCDATA)>
        <!ELEMENT ld_rabota (#PCDATA)>
        <!ELEMENT ld_profkod (#PCDATA)>
        <!ELEMENT ld_profesia (#PCDATA)>
        <!ELEMENT ld_sl_darj (#PCDATA)>
        <!ELEMENT ld_sl_nm (#PCDATA)>
        <!ELEMENT ld_sl_ul (#PCDATA)>
        <!ELEMENT d_basta (d_basta_row)*>
        <!ELEMENT d_basta_row (dc_famil|dc_imena|dc_pol|dc_grad|dc_ulica)*>
        <!ELEMENT dc_famil (#PCDATA)>
        <!ELEMENT dc_imena (#PCDATA)>
        <!ELEMENT dc_pol (#PCDATA)>
        <!ELEMENT dc_grad (#PCDATA)>
        <!ELEMENT dc_ulica (#PCDATA)>
        <!ELEMENT d_maika (d_maika_row)*>
        <!ELEMENT d_maika_row (dc_famil|dc_imena|dc_pol|dc_darj|dc_grad|dc_ulica)*>
        <!ELEMENT dc_darj (#PCDATA)>
        <!ELEMENT d_sapruga (d_sapruga_row)*>
        <!ELEMENT d_sapruga_row (sp_mrjdarj)*>
        <!ELEMENT sp_mrjdarj (#PCDATA)>
        <!ELEMENT d_molba (molba_row)*>
        <!ELEMENT molba_row (dat_vli|dat_izl|vidvis|brvl|vidus|valvis|brdni|cel|mol_dat_vav|gratis|imavisa|cenamol|cenacurr|maindest|maindestnm|gkpp_darj|gkpp_text|text_ini)*>
        <!ELEMENT dat_vli (#PCDATA)>
        <!ELEMENT dat_izl (#PCDATA)>
        <!ELEMENT vidvis (#PCDATA)>
        <!ELEMENT brvl (#PCDATA)>
        <!ELEMENT vidus (#PCDATA)>
        <!ELEMENT valvis (#PCDATA)>
        <!ELEMENT brdni (#PCDATA)>
        <!ELEMENT cel (#PCDATA)>
        <!ELEMENT mol_dat_vav (#PCDATA)>
        <!ELEMENT gratis (#PCDATA)>
        <!ELEMENT imavisa (#PCDATA)>
        <!ELEMENT cenamol (#PCDATA)>
        <!ELEMENT cenacurr (#PCDATA)>
        <!ELEMENT maindest (#PCDATA)>
        <!ELEMENT maindestnm (#PCDATA)>
        <!ELEMENT gkpp_darj (#PCDATA)>
        <!ELEMENT gkpp_text (#PCDATA)>
        <!ELEMENT text_ini (#PCDATA)>
        <!ELEMENT d_domakin (d_domakin_row)*>
        <!ELEMENT d_domakin_row (dm_vid|nom_pok|dom_graj|dom_famil|dom_ime|dom_darj|dom_nm|dom_adres|ved_darj|ved_nm)*>
        <!ELEMENT dm_vid (#PCDATA)>
        <!ELEMENT nom_pok (#PCDATA)>
        <!ELEMENT dom_graj (#PCDATA)>
        <!ELEMENT dom_famil (#PCDATA)>
        <!ELEMENT dom_ime (#PCDATA)>
        <!ELEMENT dom_darj (#PCDATA)>
        <!ELEMENT dom_nm (#PCDATA)>
        <!ELEMENT dom_adres (#PCDATA)>
        <!ELEMENT ved_darj (#PCDATA)>
        <!ELEMENT ved_nm (#PCDATA)>
        <!ELEMENT d_euroda (d_euroda_row)*>
        <!ELEMENT d_euroda_row (eu_famil|eu_imena|eu_nac_bel|eu_rodstvo)*>
        <!ELEMENT eu_famil (#PCDATA)>
        <!ELEMENT eu_imena (#PCDATA)>
        <!ELEMENT eu_nac_bel (#PCDATA)>
        <!ELEMENT eu_rodstvo (#PCDATA)>
        <!ELEMENT d_voit (d_voit_row)*>
        <!ELEMENT d_voit_row (vnom|vime|bgime|bgadres)*>
        <!ELEMENT vnom (#PCDATA)>
        <!ELEMENT vime (#PCDATA)>
        <!ELEMENT bgime (#PCDATA)>
        <!ELEMENT bgadres (#PCDATA)>
        <!ELEMENT d_images (d_images_row)*>
        <!ELEMENT d_images_row (im_devicetype|im_width|im_height|im_imglen|im_image)*>
        <!ELEMENT im_devicetype (#PCDATA)>
        <!ELEMENT im_width (#PCDATA)>
        <!ELEMENT im_height (#PCDATA)>
        <!ELEMENT im_imglen (#PCDATA)>
        <!ELEMENT im_image (#PCDATA)>
        <!ELEMENT d_fingers (d_fingers_row)*>
        <!ELEMENT d_fingers_row (fn_datreg|fn_datvav|fn_usera|fn_sid|fn_pnr|fn_vidmol|fn_drugi|fn_deviceid|fn_scanres|fn_width|fn_height|fn_pixeldepth|fn_compressalgo|fn_fingerposition|fn_imagequality|fn_image|fn_imglen|fn_nottakenreason)*>
        <!ELEMENT fn_datreg (#PCDATA)>
        <!ELEMENT fn_datvav (#PCDATA)>
        <!ELEMENT fn_usera (#PCDATA)>
        <!ELEMENT fn_sid (#PCDATA)>
        <!ELEMENT fn_pnr (#PCDATA)>
        <!ELEMENT fn_vidmol (#PCDATA)>
        <!ELEMENT fn_drugi (#PCDATA)>
        <!ELEMENT fn_deviceid (#PCDATA)>
        <!ELEMENT fn_scanres (#PCDATA)>
        <!ELEMENT fn_width (#PCDATA)>
        <!ELEMENT fn_height (#PCDATA)>
        <!ELEMENT fn_pixeldepth (#PCDATA)>
        <!ELEMENT fn_compressalgo (#PCDATA)>
        <!ELEMENT fn_fingerposition (#PCDATA)>
        <!ELEMENT fn_imagequality (#PCDATA)>
        <!ELEMENT fn_image (#PCDATA)>
        <!ELEMENT fn_imglen (#PCDATA)>
        <!ELEMENT fn_nottakenreason (#PCDATA)>
        ]>